.container>div{
    width: 100px;
    
    margin: 20px;
    background-color: blueviolet;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
}
.container{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row nowrap; */
    /* justify-content:start ;  */
    /* align-items: flex-end;
    height: 100vh; */ 
}
